@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;1,500;1,600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

body {
    background: hsl(210, 46%, 95%);
}

main {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container .sec-1 {
    padding: 3px;
}

.container .sec-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1.5rem;
    grid-auto-flow: dense;
}

.sec-1 > div {
    min-height: 250px;
    height: 100%;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: -1px 2px 20px 0px hsla(219, 29%, 14%, .2);
}

.one {
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 1;
    background: hsl(263, 55%, 52%);
    z-index: 3;
}
.one .svg img {
    position: absolute;
    top: 10px;
    right: 15%;
    width: clamp(90px, 10vw + 1em, 130px);
    z-index: -1;
}

.four {
    grid-column: 2 / span 2;
    background: hsl(219, 29%, 14%);
}

.five {
    grid-column: 4 / 5;
    grid-row: 1 / span 2;
}

.two {
    background: hsl(217, 19%, 35%);
}

.three,
.five {
    background: hsl(0, 0%, 100%);
}


.user {
  display: flex;
    align-items: center;
    gap: 1rem;
}

.user .avatar img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    user-select: none;
  }
  
.one .user .avatar img{
  border: 3px solid hsl(0, 0%, 100%, .5);
  border-radius: 50%;
}

.four .user .avatar img{
  border: 3px solid hsl(263, 55%, 52%);
  border-radius: 50%;
}
.user .name p:first-child {
    font-weight: 500;
}

.user .name p:nth-child(2) {
    font-size: 0.9rem;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.5);
}

.three .name p:nth-child(2),
.five .name p:nth-child(2) {
    color: hsla(217, 19%, 35%, 0.5);
}

.content {
    margin: 0.5rem auto 0 auto;
}

.content h3 {
    padding: 0.8rem 0;
    font-size: 1.7rem;
    font-weight: 500;
}

.content p {
    font-size: 18px;
    line-height: 1.8rem;
    font-weight: 300;
}

.one,
.two,
.four {
    color: hsl(0, 0%, 100%);
}

.three,
.five {
    color: hsl(217, 19%, 35%);
}

.one .content p,
.two .content p,
.four .content p {
    color: hsla(0, 0%, 100%, 0.7);
}

@media screen and (max-width: 1240px) {
    .one {
        grid-column: 1 / span 4;
    }

    .two {
        grid-column: 1;
    }

    .four {
        grid-column: 2 / span 2;
        grid-row: 2;
    }

    .five {
        grid-column: 1 / 5;
        grid-row: 3;
    }
}

@media screen and (max-width: 900px) {
    .container .sec-1 {
        display: flex;
        flex-wrap: wrap;
    }

    .container .sec-1 {
        height: max-content;
    }

    .sec-1 > div {
        padding: 1.5rem;
    }

    .content h3 {
        font-size: 1.4rem;
    }

    .one .svg img {
        top: 10px;
        right: 5%;
    }
}

.attribution {
    margin: 0.5rem 0;
    font-size: 12px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
